In [1]:
import time
import pandas as pd
import psycopg2
import datetime
from tqdm import trange
import matplotlib.pyplot as plt 
import matplotlib as mpl 
import seaborn as sns

# %matplotlib inline 
import platform
import numpy as np
from matplotlib import font_manager, rc # plt.rcParams['axes.unicode_minus'] = False 
if platform.system() == 'Darwin': rc('font', family='AppleGothic') 
elif platform.system() == 'Windows': 
    path = "c:/Windows/Fonts/malgun.ttf" 
    font_name = font_manager.FontProperties(fname=path).get_name() 
    rc('font', family=font_name) 
else: 
    print('Unknown system... sorry~~~~')
plt.rcParams["figure.figsize"] = (14,4)
plt.rcParams['lines.linewidth'] = 2
from tqdm import tqdm
from tqdm import trange

In [2]:
    # row 생략 없이 출력
pd.set_option('display.max_rows', 1000)
# col 생략 없이 출력
pd.set_option('display.max_columns', 1000)
plt.rcParams["figure.figsize"] = (14,4)
plt.rcParams['lines.linewidth'] = 2

# 데이터 가져오기

In [9]:
# 전체 매장 입출판재
total_shop_stock = pd.read_csv("total_shop_stock.csv")
total_shop_stock = total_shop_stock.iloc[ :,1:]

# 매장정보
shop_info_pd = pd.read_csv("shop_info_pd.csv")
shop_info_pd = shop_info_pd.iloc[ :,1:]

# bucket_dwalker 관련 매장입출판재(2019)
bucket_dwalker = pd.read_csv('bucket_dwalker.csv')
bucket_dwalker = bucket_dwalker.iloc[ :,1:]

# bucket_dwalker_v2 관련 매장입출판재
bucket_dwalker_v2 = pd.read_csv('bucket_dwalker_v2.csv')
bucket_dwalker_v2 = bucket_dwalker_v2.iloc[ :,1:]

# 아울렛 상설을 제외한 매장키 
shop_list_pd = pd.read_csv('shop_list.csv')
shop_list_pd = shop_list_pd.iloc[ :,1:]

# 전체 매장 비어있는 주차 채운 데이터 (버킷 디워커 기준)
shop_weeks_buket_df = pd.read_csv('shop_weeks_buket.csv')
shop_weeks_buket_df = shop_weeks_buket_df.iloc[ :,1:]

# 전체 매장 비어있는 주차 채운 데이터 (버킷 디워커 v2 기준)
shop_weeks_buket_v2_df = pd.read_csv('shop_weeks_buket_v2.csv')
shop_weeks_buket_v2_df = shop_weeks_buket_v2_df.iloc[ :,1:]

# 전체 매장 비어있는것 채워넣은 입출판재 합쳐 놓은 것
shop_total_sales = pd.read_csv("shop_total_sales.csv")
shop_total_sales = shop_total_sales.iloc[ :,1:]

In [5]:
# DB 연결 부분
uswer = 'dt.intern'
host = '10.80.0.234'
port = '5439'
dbname = 'fnf'
con = psycopg2.connect(dbname='fnf',host='10.80.0.234', port='5439', user = 'dt.intern', password='DTintn0926')
cur = con.cursor()

In [6]:
# 2019년 - 2020년 / 디스커버리 / SH(운동화) 를 가지고 있는 매장 선택
start = time.time()

total_shop_stock_ori = '''
SELECT vfs.weekkey,vfs.shopkey ,vfs.partkey,vfs.scskey,vfs.brand,vfs.season,vfs.partcode,vfs.color,vfs.siz,vfs.week_takeout_qty,vfs.takeout_qty ,vfs.week_sale_qty ,vfs.sale_qty,vfs.week_sale_amt,vfs.stock_qty ,vfs.sale_amt,prdt.gender 
FROM ax.vw_f_scsshopweek vfs
INNER JOIN ax.vw_d_prdt prdt ON vfs.scskey  = prdt.scskey
WHERE vfs.brand = 'X' AND vfs.weekkey BETWEEN '2018-06-01' AND '2020-12-31' AND prdt.item ='SH'
'''


cur.execute(total_shop_stock_ori)
total_shop_stock_ori = cur.fetchall()

print("time :", time.time() - start)  # 현재시각 - 시작시간 = 실행 시간

total_shop_stock_ori = pd.DataFrame(total_shop_stock_ori)
total_shop_stock_ori.columns = ['weekkey','shopkey','partkey','scskey','brand','season','partcode','color','siz','week_takeout_qty','takeout_qty' ,'week_sale_qty' ,'sale_qty','week_sale_amt','stock_qty' ,'sale_amt','gender']
total_shop_stock = total_shop_stock_ori

time : 86.71158576011658

In [7]:
# 국내 / 오프라인 / 아울렛,상설 x / 디스커버리 / 2019년 - 2020년 전 기간 운영한 매장 

start = time.time()

shop_list = '''
SELECT shop_2019.shopkey 
FROM(SELECT *
FROM ax.vw_d_shop vds
WHERE type_ax_zone_nm ='국내' AND  vds.chnl_type_sfdc ='오프라인' AND shop_nm NOT LIKE '%아울렛%' AND shop_type_sfdc NOT LIKE '%상설%'  AND vds.brand = 'X' AND (closedate > '2019-12-31' OR closedate is NULL ) AND opendate < '2019-01-01'
LIMIT 1000) AS shop_2019
INNER JOIN (SELECT *
FROM ax.vw_d_shop vds
WHERE type_ax_zone_nm ='국내' AND  vds.chnl_type_sfdc ='오프라인' AND shop_nm NOT LIKE '%아울렛%' AND shop_type_sfdc NOT LIKE '%상설%' AND vds.brand = 'X' AND (closedate > '2020-12-31' OR closedate is NULL ) AND opendate < '2020-01-01'
) AS shop_2020
ON shop_2019.shopkey =shop_2020.shopkey
'''

cur.execute(shop_list)
shop_list = cur.fetchall()

print("time :", time.time() - start)  # 현재시각 - 시작시간 = 실행 시간
shop_list_pd = pd.DataFrame(shop_list)
shop_list_pd.columns = ['shopkey']

time : 10.406085014343262

In [8]:
# 국내 / 오프라인 / 아울렛,상설 x / 디스커버리 / 2019년 - 2020년 전 기간 운영한 매장  / 백화점

start = time.time()

shop_info = '''
SELECT shopkey ,shop_nm,shop_nm_sfdc,repr_shopcode,type_shop_nm,type_contract_nm,type_zone_nm,region_nm
FROM ax.vw_d_shop
WHERE type_ax_zone_nm ='국내' AND chnl_type_sfdc='오프라인'
;
'''

cur.execute(shop_info)
shop_info = cur.fetchall()

print("time :", time.time() - start)  # 현재시각 - 시작시간 = 실행 시간

shop_info_pd = pd.DataFrame(shop_info)
shop_info_pd.columns = ['shopkey' ,'shop_nm','shop_nm_sfdc','repr_shopcode','type_shop_nm','type_contract_nm','type_zone_nm','region_nm']

time : 10.82857060432434

# 전처리 관련 로직

## 1.상품 한정 ( 원하는 상품군 선택 , 모든 매장에 대한 주차별 값 생성)

In [4]:
# 빠져있는 주차 채워주는 로직 (원하는 상품 관련)

def zero_fill(shopkey, base, scskey_list,item):
    total=[]
    for col in base.columns:
        base[col].values[:] = 0
    for scskey in scskey_list:
        for shop in shopkey:
            frame = base.reset_index()
            target = item[(item['scskey']==scskey) & (item['shopkey']==shop )].groupby('weekkey').sum().reset_index()
            target = target.reset_index()

            for i in range(0,len(target)):
                for j in range(0,len(frame)):
                        if target.iloc[i].weekkey == frame.iloc[j].weekkey:
                            frame.iloc[j] = target.iloc[i]
                            break
            for i in range(1,len(frame)):
                if frame.iloc[i].takeout_qty ==0 and frame.iloc[i].sale_qty==0:
                    frame.iloc[i] = [ frame.iloc[i]['weekkey'], 0, frame.iloc[i-1]['takeout_qty'], 0, frame.iloc[i-1]['sale_qty'], frame.iloc[i-1]['stock_qty']]
            frame['shopkey'] =shop
            frame['ratio'] = 0
            for i in range(0,len(frame)):
                total_sale_qty= frame['week_sale_qty'].sum()
                a = frame.iloc[i]
                if a['sale_qty']==0 :
                    frame.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5],a[6] , 0]
                else:
                    if a['sale_qty'] / total_sale_qty > 1:
                        frame.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5],a[6] , 1]
                    else:
                        frame.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5],a[6] , a['sale_qty'] / total_sale_qty]
            else:
                frame['scskey']=scskey
            frame = pd.merge(frame, shop_info_pd, left_on='shopkey', right_on='shopkey', how='inner')
            total.append(frame)
    return total

In [ ]:
# 2019  /버킷 디워커 230~ 270 사이즈 / BE 컬러 관련 매장 입출판재컬러 관련 매장 입출판재
scskey_list = ['X19SDXSH09911BE230','X19SDXSH09911BE235','X19SDXSH09911BE240','X19SDXSH09911BE260','X19SDXSH09911BE265','X19SDXSH09911BE270']
frame = bucket_dwalker[(bucket_dwalker['scskey']=='X19SDXSH09911BE240')][['shopkey','weekkey','week_takeout_qty','takeout_qty','week_sale_qty','sale_qty','stock_qty']].groupby('weekkey').sum()
bucket_dwalker_shop_key = bucket_dwalker['shopkey'].unique()


shop_weeks_buket = zero_fill(bucket_dwalker_shop_key, frame,scskey_list,)

In [ ]:
shop_weeks_buket_df = pd.concat(shop_weeks_buket)

In [ ]:
# 2020  /버킷 디워커 V2 230~ 270 사이즈 / BE 컬러 관련 매장 입출판재컬러 관련 매장 입출판재

scskey_list = ['X20SDXSHA5011OW230','X20SDXSHA5011OW235','X20SDXSHA5011OW240','X20SDXSHA5011OW260','X20SDXSHA5011OW265','X20SDXSHA5011OW270']
frame = bucket_dwalker_v2[(bucket_dwalker_v2['scskey']=='X20SDXSHA5011OW240')][['shopkey','weekkey','week_takeout_qty','takeout_qty','week_sale_qty','sale_qty','stock_qty']].groupby('weekkey').sum()
bucket_dwalker_v2_shop_key = bucket_dwalker_v2['shopkey'].unique()


shop_weeks_buket_v2 = zero_fill(bucket_dwalker_v2_shop_key, frame,scskey_list,bucket_dwalker_v2)

In [ ]:
shop_weeks_buket_v2_df = pd.concat(shop_weeks_buket_v2)

## 2.전체 매장 입출판재

In [10]:
df_INNER_JOIN = pd.merge(shop_list_pd, total_shop_stock, left_on='shopkey', right_on='shopkey', how='inner')

In [11]:
shop_stock_2019 = df_INNER_JOIN[(df_INNER_JOIN['weekkey']< '20200101') & (df_INNER_JOIN['weekkey']> '20181231') ]
shop_stock_2020 = df_INNER_JOIN[df_INNER_JOIN['weekkey']> '20191231' ]

In [12]:
# 실제 매장 입고량과 판매량 구하는 로직(2019)
shop_stock_key_2019 = shop_stock_2019['shopkey'].unique()

total_sum_salty_2019 = []
total_sum_takeout_2019 = []
total_return_salty_2019=[]
total_sum_take_ware_2019=[]

for i in trange(0,len(shop_stock_key_2019)):
    takeout_qty = 0
    sale_qty = 0
    take_ware = 0
    return_salty=0
    
    shop_stock= shop_stock_2019[shop_stock_2019['shopkey']==shop_stock_key_2019[i]]
    shop_scs_key_2019 = shop_stock['scskey'].unique()
    for j in shop_scs_key_2019:
        takeout_qty+= shop_stock[shop_stock['scskey']==j]['takeout_qty'].max()
        sale_qty+= shop_stock[shop_stock['scskey']==j]['sale_qty'].max()
        take_ware += int(shop_stock[(shop_stock['scskey']==j)&(shop_stock['week_takeout_qty']<0)]['week_takeout_qty'].sum())
        return_salty += int(shop_stock[(shop_stock['scskey']==j)&(shop_stock['week_sale_qty']<0)]['week_sale_qty'].sum())
    total_sum_takeout_2019.append(takeout_qty)
    total_sum_salty_2019.append(sale_qty)
    total_sum_take_ware_2019.append(take_ware)
    total_return_salty_2019.append(return_salty)
df3 = pd.DataFrame([ x for x in zip(shop_stock_key_2019,total_sum_salty_2019,total_sum_takeout_2019,total_sum_take_ware_2019,total_return_salty_2019)])
df3.columns = ['shopkey','salty2019','takeout2019','take_ware2019','return_salty2019']
df3['salty2019'] = df3['salty2019'] + df3['return_salty2019']
print(df3)

  0%|                                                                                          | 0/143 [00:04<?, ?it/s]

KeyboardInterrupt:

In [ ]:
# 실제 매장 입고량과 판매량 구하는 로직(2020)

shop_stock_key_2020 = shop_stock_2020['shopkey'].unique()

total_sum_salty2020 = []
total_sum_takeout2020 = []
total_return_salty2020=[]
total_sum_take_ware2020=[]

for i in trange(0,len(shop_stock_key_2020)):
    takeout_qty = 0
    sale_qty = 0
    take_ware = 0
    return_salty=0
    
    shop_stock= shop_stock_2020[shop_stock_2020['shopkey']==shop_stock_key_2020[i]]
    shop_scs_key_2020 = shop_stock['scskey'].unique()
    for j in shop_scs_key_2020:
        takeout_qty+= shop_stock[shop_stock['scskey']==j]['takeout_qty'].max()
        sale_qty+= shop_stock[shop_stock['scskey']==j]['sale_qty'].max()
        take_ware += int(shop_stock[(shop_stock['scskey']==j)&(shop_stock['week_takeout_qty']<0)]['week_takeout_qty'].sum())
        return_salty += int(shop_stock[(shop_stock['scskey']==j)&(shop_stock['week_sale_qty']<0)]['week_sale_qty'].sum())
    total_sum_takeout2020.append(takeout_qty)
    total_sum_salty2020.append(sale_qty)
    total_sum_take_ware2020.append(take_ware)
    total_return_salty2020.append(return_salty)
df4 = pd.DataFrame([ x for x in zip(shop_stock_key_2020,total_sum_salty2020,total_sum_takeout2020,total_sum_take_ware2020,total_return_salty2020)])
df4.columns = ['shopkey','salty2020','takeout2020','take_ware2020','return_salty2020']
df4['salty2020'] = df4['salty2020'] + df4['return_salty2020']
df4

## 3.버킷디워커 / 버킷디워커 2 - 평균 재고 소진 비율 구하기

In [71]:
# 전체 매장 평균 판매 비율 buket
bk_department_weeks_mean = shop_weeks_buket_df[shop_weeks_buket_df['type_zone_nm']=='백화점'].groupby('weekkey').mean()
bk_agency_weeks_mean = shop_weeks_buket_df[shop_weeks_buket_df['type_zone_nm']=='대리점'].groupby('weekkey').mean()

In [72]:
# 전체 매장 평균 판매 비율 buket
bk_department_weeks_mean = bk_department_weeks_mean.reset_index()
bk_agency_weeks_mean = bk_agency_weeks_mean.reset_index()
bk_department_weeks_mean['weekkey'] = pd.to_datetime(bk_department_weeks_mean['weekkey'])
bk_agency_weeks_mean['weekkey'] = pd.to_datetime(bk_agency_weeks_mean['weekkey'])

In [73]:
bk_department_weeks_mean = bk_department_weeks_mean.set_index('weekkey')
bk_agency_weeks_mean = bk_agency_weeks_mean.set_index('weekkey')

In [74]:
# 평균 주차별 재고 소진율 차이 (버킷 디워커) 

bk_department_weeks_mean['rise_ratio'] = 0
for i in range(0,len(bk_department_weeks_mean)-1):
    a = bk_department_weeks_mean.iloc[i]
    if i ==0:
        bk_department_weeks_mean.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5] , a[5]]
    else:
        a = bk_department_weeks_mean.iloc[i]
        bk_department_weeks_mean.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5] , bk_department_weeks_mean['ratio'].iloc[i] - bk_department_weeks_mean['ratio'].iloc[i-1] ]

In [75]:
bk_department_weeks_mean_df = bk_department_weeks_mean.copy()

In [76]:
# 전체 매장 평균 판매 비율 buket_v2
v2_department_weeks_mean = shop_weeks_buket_v2_df[shop_weeks_buket_v2_df['type_zone_nm']=='백화점'].groupby('weekkey').mean()
v2_agency_weeks_mean = shop_weeks_buket_v2_df[shop_weeks_buket_v2_df['type_zone_nm']=='대리점'].groupby('weekkey').mean()

In [77]:
# 전체 매장 평균 판매 비율 buket_v2
v2_department_weeks_mean = v2_department_weeks_mean.reset_index()
v2_agency_weeks_mean = v2_agency_weeks_mean.reset_index()
v2_department_weeks_mean['weekkey'] = pd.to_datetime(v2_department_weeks_mean['weekkey'])
v2_agency_weeks_mean['weekkey'] = pd.to_datetime(v2_agency_weeks_mean['weekkey'])

In [78]:
v2_department_weeks_mean = v2_department_weeks_mean.set_index('weekkey')
v2_agency_weeks_mean = v2_agency_weeks_mean.set_index('weekkey')

In [79]:
# 평균 주차별 재고 소진율 차이 (버킷 디워커 v2) 

v2_department_weeks_mean['rise_ratio'] = 0
for i in range(0,len(v2_department_weeks_mean)-1):
    a = v2_department_weeks_mean.iloc[i]
    if i ==0:
        v2_department_weeks_mean.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5] , a[5]]
    else:
        a = v2_department_weeks_mean.iloc[i]
        v2_department_weeks_mean.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5] , v2_department_weeks_mean['ratio'].iloc[i] - v2_department_weeks_mean['ratio'].iloc[i-1] ]

In [80]:
v2_department_weeks_mean_df = v2_department_weeks_mean.copy()

## 4.매장별 평균 소진비율 구하기

In [23]:
# 버킷디워커 (2019)  + 백화점 
de_shop_weeks_buket_df = shop_weeks_buket_df[shop_weeks_buket_df['type_zone_nm']=='백화점']
bk_total_shop_ratio = []
for shop_key in de_shop_weeks_buket_df['shopkey'].unique():
    shop_week = de_shop_weeks_buket_df[de_shop_weeks_buket_df['shopkey']== shop_key].groupby('weekkey').sum()
    shop_week = shop_week.reset_index()
    shop_week['weekkey'] = pd.to_datetime(shop_week['weekkey'])
    
    shop_week['ratio'] = 0
    shop_week['shopkey'] = 0
    shop_week['rise_ratio'] = 0
    
    for i in range(0,len(shop_week)):
        total_sale_qty= shop_week['week_sale_qty'].sum()
        a = shop_week.iloc[i]
        if a['sale_qty']==0 :
#             shop_week.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5],a[6] , 0,0]
            shop_week.iloc[i] = [a[0],a[1],a[2] ,a[3] ,a[4] ,a[5], 0,shop_key,0]

        else:
            if a['sale_qty'] / total_sale_qty > 1:
                shop_week.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5], 1,shop_key,0]
            else:
                shop_week.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5], a['sale_qty'] / total_sale_qty,shop_key,0]
        a = shop_week.iloc[i]
        if i == 0:
            shop_week.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5],a[6] ,a[7],a[8]]
        else:
            shop_week.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5],a[6] ,a[7],shop_week.iloc[i]['ratio'] - shop_week.iloc[i-1]['ratio']]

    bk_total_shop_ratio.append(shop_week)

In [24]:
bk_total_shop_ratio = pd.concat(bk_total_shop_ratio)

In [25]:
bk_total_shop_ratio

,weekkey,week_takeout_qty,takeout_qty,week_sale_qty,sale_qty,stock_qty,ratio,shopkey,rise_ratio
0,2018-12-31,4,4,0,0,4,0.000000,X10056,0.000000
1,2019-01-07,0,4,0,0,4,0.000000,X10056,0.000000
2,2019-01-14,3,7,1,1,6,0.012195,X10056,0.012195
3,2019-01-21,0,7,1,2,5,0.024390,X10056,0.012195
4,2019-01-28,-1,6,1,3,3,0.036585,X10056,0.012195
...,...,...,...,...,...,...,...,...,...
48,2019-12-02,-1,229,0,226,3,0.995595,X10038,0.000000
49,2019-12-09,1,230,1,227,3,1.000000,X10038,0.004405
50,2019-12-16,0,230,-1,226,4,0.995595,X10038,-0.004405
51,2019-12-23,0,230,0,226,4,0.995595,X10038,0.000000
52,2019-12-30,-1,229,0,226,3,0.995595,X10038,0.000000

In [26]:
bk_total_shop_ratio_info = pd.merge(bk_total_shop_ratio,shop_info_pd, left_on='shopkey', right_on='shopkey', how='inner')
bk_total_shop_ratio_info

,weekkey,week_takeout_qty,takeout_qty,week_sale_qty,sale_qty,stock_qty,ratio,shopkey,rise_ratio,shop_nm,shop_nm_sfdc,repr_shopcode,type_shop_nm,type_contract_nm,type_zone_nm,region_nm
0,2018-12-31,4,4,0,0,4,0.000000,X10056,0.000000,갤러리아진주,디스커버리 갤러리아 진주점,XH0247,일반매장,백화점특정,백화점,경남
1,2019-01-07,0,4,0,0,4,0.000000,X10056,0.000000,갤러리아진주,디스커버리 갤러리아 진주점,XH0247,일반매장,백화점특정,백화점,경남
2,2019-01-14,3,7,1,1,6,0.012195,X10056,0.012195,갤러리아진주,디스커버리 갤러리아 진주점,XH0247,일반매장,백화점특정,백화점,경남
3,2019-01-21,0,7,1,2,5,0.024390,X10056,0.012195,갤러리아진주,디스커버리 갤러리아 진주점,XH0247,일반매장,백화점특정,백화점,경남
4,2019-01-28,-1,6,1,3,3,0.036585,X10056,0.012195,갤러리아진주,디스커버리 갤러리아 진주점,XH0247,일반매장,백화점특정,백화점,경남
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3546,2019-12-02,-1,229,0,226,3,0.995595,X10038,0.000000,롯데창원,디스커버리 롯데 창원점,XH0237,일반매장,백화점특정,백화점,경남
3547,2019-12-09,1,230,1,227,3,1.000000,X10038,0.004405,롯데창원,디스커버리 롯데 창원점,XH0237,일반매장,백화점특정,백화점,경남
3548,2019-12-16,0,230,-1,226,4,0.995595,X10038,-0.004405,롯데창원,디스커버리 롯데 창원점,XH0237,일반매장,백화점특정,백화점,경남
3549,2019-12-23,0,230,0,226,4,0.995595,X10038,0.000000,롯데창원,디스커버리 롯데 창원점,XH0237,일반매장,백화점특정,백화점,경남
3550,2019-12-30,-1,229,0,226,3,0.995595,X10038,0.000000,롯데창원,디스커버리 롯데 창원점,XH0237,일반매장,백화점특정,백화점,경남

In [28]:
# 버킷디워커 v2
de_shop_weeks_v2_df = shop_weeks_buket_v2_df[shop_weeks_buket_v2_df['type_zone_nm']=='백화점']

v2_total_shop_ratio = []
for shop_key in de_shop_weeks_v2_df['shopkey'].unique():
    shop_week = de_shop_weeks_v2_df[de_shop_weeks_v2_df['shopkey']== shop_key].groupby('weekkey').sum()
    shop_week = shop_week.reset_index()
    shop_week['weekkey'] = pd.to_datetime(shop_week['weekkey'])
    
    shop_week['ratio'] = 0
    shop_week['shopkey'] = 0
    shop_week['rise_ratio'] = 0
    
    for i in range(0,len(shop_week)):
        total_sale_qty= shop_week['week_sale_qty'].sum()
        a = shop_week.iloc[i]
        if a['sale_qty']==0 :
#             shop_week.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5],a[6] , 0,0]
            shop_week.iloc[i] = [a[0],a[1],a[2] ,a[3] ,a[4] ,a[5], 0,shop_key,0]

        else:
            if a['sale_qty'] / total_sale_qty > 1:
                shop_week.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5], 1,shop_key,0]
            else:
                shop_week.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5], a['sale_qty'] / total_sale_qty,shop_key,0]
        a = shop_week.iloc[i]
        if i == 0:
            shop_week.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5],a[6] ,a[7],a[8]]
        else:
            shop_week.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5],a[6] ,a[7],shop_week.iloc[i]['ratio'] - shop_week.iloc[i-1]['ratio']]

    v2_total_shop_ratio.append(shop_week)

In [29]:
v2_total_shop_ratio = pd.concat(v2_total_shop_ratio)

In [30]:
v2_total_shop_ratio

,weekkey,week_takeout_qty,takeout_qty,week_sale_qty,sale_qty,stock_qty,ratio,shopkey,rise_ratio
0,2019-11-18,6,6,0,0,6,0.000000,X10056,0.000000
1,2019-11-25,0,6,1,1,5,0.013333,X10056,0.013333
2,2019-12-02,5,11,3,4,7,0.053333,X10056,0.040000
3,2019-12-09,2,13,1,5,8,0.066667,X10056,0.013333
4,2019-12-16,2,15,0,5,10,0.066667,X10056,0.000000
...,...,...,...,...,...,...,...,...,...
54,2020-11-30,2,348,2,312,36,0.975000,X10038,0.006250
55,2020-12-07,1,349,4,316,33,0.987500,X10038,0.012500
56,2020-12-14,0,349,0,316,33,0.987500,X10038,0.000000
57,2020-12-21,0,349,2,318,31,0.993750,X10038,0.006250
58,2020-12-28,0,349,2,320,29,1.000000,X10038,0.006250

In [31]:
v2_total_shop_ratio_info = pd.merge(v2_total_shop_ratio,shop_info_pd, left_on='shopkey', right_on='shopkey', how='inner')
v2_total_shop_ratio_info

,weekkey,week_takeout_qty,takeout_qty,week_sale_qty,sale_qty,stock_qty,ratio,shopkey,rise_ratio,shop_nm,shop_nm_sfdc,repr_shopcode,type_shop_nm,type_contract_nm,type_zone_nm,region_nm
0,2019-11-18,6,6,0,0,6,0.000000,X10056,0.000000,갤러리아진주,디스커버리 갤러리아 진주점,XH0247,일반매장,백화점특정,백화점,경남
1,2019-11-25,0,6,1,1,5,0.013333,X10056,0.013333,갤러리아진주,디스커버리 갤러리아 진주점,XH0247,일반매장,백화점특정,백화점,경남
2,2019-12-02,5,11,3,4,7,0.053333,X10056,0.040000,갤러리아진주,디스커버리 갤러리아 진주점,XH0247,일반매장,백화점특정,백화점,경남
3,2019-12-09,2,13,1,5,8,0.066667,X10056,0.013333,갤러리아진주,디스커버리 갤러리아 진주점,XH0247,일반매장,백화점특정,백화점,경남
4,2019-12-16,2,15,0,5,10,0.066667,X10056,0.000000,갤러리아진주,디스커버리 갤러리아 진주점,XH0247,일반매장,백화점특정,백화점,경남
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3948,2020-11-30,2,348,2,312,36,0.975000,X10038,0.006250,롯데창원,디스커버리 롯데 창원점,XH0237,일반매장,백화점특정,백화점,경남
3949,2020-12-07,1,349,4,316,33,0.987500,X10038,0.012500,롯데창원,디스커버리 롯데 창원점,XH0237,일반매장,백화점특정,백화점,경남
3950,2020-12-14,0,349,0,316,33,0.987500,X10038,0.000000,롯데창원,디스커버리 롯데 창원점,XH0237,일반매장,백화점특정,백화점,경남
3951,2020-12-21,0,349,2,318,31,0.993750,X10038,0.006250,롯데창원,디스커버리 롯데 창원점,XH0237,일반매장,백화점특정,백화점,경남
3952,2020-12-28,0,349,2,320,29,1.000000,X10038,0.006250,롯데창원,디스커버리 롯데 창원점,XH0237,일반매장,백화점특정,백화점,경남

# 전체 매장 입출판재 + 매장 info 데이터

In [32]:
shop_total_sales_info = pd.merge(shop_total_sales,shop_info_pd, left_on='shopkey', right_on='shopkey', how='inner')
shop_total_sales_info

,shopkey,총 판매량(2019),총 입고량(2019),총 판매량(2020),총 입고량(2020),판매수량 비율(20/19),입고수량 비율(20/19),판매 비율(19/19),판매 비율(20/20),shop_nm,shop_nm_sfdc,repr_shopcode,type_shop_nm,type_contract_nm,type_zone_nm,region_nm
0,X10070,2842,4298,8776,11012,3.087966,2.562122,0.661238,0.796949,신세계강남,디스커버리 신세계 강남점,XH0260,일반매장,백화점특정,백화점,서울
1,X10057,2842,4881,7257,9722,2.553483,1.991805,0.582258,0.746451,현대목동,디스커버리 현대 목동점,XH0014,일반매장,백화점특정,백화점,서울
2,X10050,5668,8376,14182,17873,2.502117,2.133835,0.676695,0.793487,롯데본점,디스커버리 롯데 본점,XH0248,일반매장,백화점특정,백화점,서울
3,X10027,2984,4782,7036,11932,2.357909,2.495190,0.624007,0.589675,롯데평촌,디스커버리 롯데 평촌점,XH0222,일반매장,백화점특정,백화점,경기
4,X10006,4823,6728,11168,13899,2.315571,2.065844,0.716855,0.803511,AK분당,디스커버리 AK 분당점,XH0100,일반매장,백화점특정,백화점,경기
5,X50057,797,2074,1839,3064,2.307403,1.477338,0.384282,0.600196,여천(대-위),디스커버리 여천점,XH0061,일반매장,대리점,대리점,전남
6,X10064,3726,5409,8488,10827,2.278046,2.001664,0.688852,0.783966,현대천호,디스커버리 현대 천호점,XH0253,일반매장,백화점특정,백화점,서울
7,X50001,1824,3257,4049,5758,2.219846,1.767885,0.560025,0.703196,목포하당(대-위),디스커버리 목포하당점,XH0004,일반매장,대리점,대리점,전남
8,X10056,1611,2841,3433,4801,2.130975,1.689898,0.567054,0.715059,갤러리아진주,디스커버리 갤러리아 진주점,XH0247,일반매장,백화점특정,백화점,경남
9,X50005,1035,2311,2181,3444,2.107246,1.490264,0.447858,0.633275,여수(대-위),디스커버리 여수점,XH0005,일반매장,대리점,대리점,전남
10,X50055,726,1988,1524,2724,2.099174,1.370221,0.365191,0.559471,창원중앙(대-위),디스커버리 창원중앙점,XH0057,일반매장,대리점,대리점,경남
11,X10048,1454,2655,3015,4316,2.073590,1.625612,0.547646,0.698563,아이파크용산,디스커버리 아이파크 용산점,XH0243,일반매장,백화점특정,백화점,서울
12,X10003,2407,3833,4964,6766,2.062318,1.765197,0.627968,0.733668,롯데광복,디스커버리 롯데 광복점,XH0201,일반매장,백화점특정,백화점,부산
13,X10069,3224,4855,6506,8612,2.017990,1.773841,0.664058,0.755458,현대킨텍스,디스커버리 현대 킨텍스점,XH0261,일반매장,백화점특정,백화점,경기
14,X10028,1427,2609,2841,4279,1.990890,1.640092,0.546953,0.663940,롯데일산,디스커버리 롯데 일산점,XH0229,일반매장,백화점특정,백화점,경기
15,X10039,1449,2624,2883,4288,1.989648,1.634146,0.552210,0.672341,AK원주,디스커버리 AK 원주점,XH0230,일반매장,백화점특정,백화점,강원
16,X50103,952,2402,1879,3613,1.973739,1.504163,0.396336,0.520066,광주흑석(대-위),디스커버리 광주흑석점,XH0093,일반매장,대리점,대리점,광주
17,X50065,1960,3649,3807,5452,1.942347,1.494108,0.537133,0.698276,화성봉담(대-위),디스커버리 화성봉담점,XH0071,일반매장,대리점,대리점,경기
18,X50052,1166,2465,2218,3474,1.902230,1.409331,0.473022,0.638457,동해(대-위),디스커버리 동해점,XH0055,일반매장,대리점,대리점,강원
19,X50129,2102,3659,3941,5692,1.874881,1.555616,0.574474,0.692375,평택장당(대-위),디스커버리 평택장당점,XH0112,일반매장,대리점,대리점,경기
20,X10016,1957,3362,3666,5328,1.873275,1.584771,0.582094,0.688063,롯데동래,디스커버리 롯데 동래점,XH0216,일반매장,백화점특정,백화점,부산
21,X50101,1993,3868,3725,5326,1.869042,1.376939,0.515253,0.699399,김포(대-위),디스커버리 김포점,XH0031,일반매장,대리점,대리점,경기
22,X50106,1618,3186,2967,4530,1.833745,1.421846,0.507847,0.654967,세정광주(대-위),디스커버리 세정광주점,XH0073,일반매장,대리점,대리점,광주
23,X10021,3304,4811,6041,7968,1.828390,1.656205,0.686760,0.758158,신세계아라리오,디스커버리 신세계 아라리오점,XH0215,일반매장,백화점특정,백화점,충남
24,X50120,1521,2901,2759,4235,1.813938,1.459841,0.524302,0.651476,춘천(대-위),디스커버리 춘천점,XH0036,일반매장,대리점,대리점,강원
25,X10034,1896,3369,3435,4930,1.811709,1.463342,0.562778,0.696755,현대부산,디스커버리 현대 부산점,XH0227,일반매장,백화점특정,백화점,부산
26,X10061,5014,6768,9042,11180,1.803351,1.651891,0.740839,0.808766,신세계대구,디스커버리 신세계 대구점,XH0265,일반매장,백화점특정,백화점,대구
27,X50037,1670,3231,3005,4469,1.799401,1.383163,0.516868,0.672410,구미인동(대-위),디스커버리 구미인동점,XH0040,일반매장,대리점,대리점,경북
28,X10032,3305,4701,5946,7863,1.799092,1.672623,0.703042,0.756200,롯데수원,디스커버리 롯데 수원점,XH0242,일반매장,백화점특정,백화점,경기
29,X50081,835,2251,1499,2579,1.795210,1.145713,0.370946,0.581233,전주평화점(대-위),디스커버리 전주평화점,XH0009,일반매장,대리점,대리점,전북
30,X10007,5085,7160,9063,11543,1.782301,1.612151,0.710196,0.785151,롯데부산,디스커버리 롯데 부산점,XH0203,일반매장,백화점특정,백화점,부산
31,X10082,2195,3974,3859,5814,1.758087,1.463010,0.552340,0.663743,LF스퀘어광양,디스커버리 LF스퀘어 광양점,XH0097,일반매장,백화점특정,백화점,전남
32,X10053,4099,5847,7160,9432,1.746768,1.613135,0.701043,0.759118,신세계경기,디스커버리 신세계 경기점,XH0246,일반매장,백화점특정,백화점,경기
33,X10063,1923,3297,3357,4974,1.745710,1.508644,0.583258,0.674910,롯데전주,디스커버리 롯데 전주점,XH0250,일반매장,백화점특정,백화점,전북
34,X10052,1597,2832,2764,4174,1.730745,1.473870,0.563912,0.662195,롯데강남,디스커버리 롯데 강남점,XH0254,일반매장,백화점특정,백화점,서울
35,X10041,2080,3484,3584,5225,1.723077,1.499713,0.597015,0.685933,현대충청,디스커버리 현대 충청점,XH0233,일반매장,백화점특정,백화점,충북
36,X50115,1210,2785,2060,3395,1.702479,1.219031,0.434470,0.606775,부천남부(대-위),디스커버리 부천남부점,XH0106,일반매장,대리점,대리점,경기
37,X50131,1091,2595,1852,3062,1.697525,1.179961,0.420424,0.604833,시화(대-위),디스커버리 시화점,XH0114,일반매장,대리점,대리점,경기
38,X50028,1786,3767,3015,4888,1.688130,1.297584,0.474117,0.616817,광주첨단(대-위),디스커버리 광주첨단점,XH0035,일반매장,대리점,대리점,광주
39,X50118,1910,3716,3218,5076,1.684817,1.365985,0.513994,0.633964,서산(대-위),디스커버리 서산점,XH0062,일반매장,대리점,대리점,충남
40,X50126,2619,4582,4388,6236,1.675449,1.360978,0.571584,0.703656,강릉(대-위),디스커버리 강릉점,XH0043,일반매장,대리점,대리점,강원
41,X50078,808,2071,1344,2419,1.663366,1.168035,0.390150,0.555601,동광양(대-위)close,디스커버리 동광양점,XH0072,일반매장,대리점,대리점,전남
42,X10047,1446,3481,2399,4861,1.659059,1.396438,0.415398,0.493520,마리오구로,디스커버리 마리오 구로점,XH0241,일반매장,백화점특정,백화점,서울
43,X50042,2129,3886,3531,5289,1.658525,1.361040,0.547864,0.667612,대구성서(대-위),디스커버리 대구성서점,XH0046,일반매장,대리점,대리점,대구
44,X50092,1211,2560,1998,3438,1.649876,1.342969,0.473047,0.581152,모다울산(대-위),디스커버리 모다울산점,XH0082,일반매장,대리점,대리점,울산
45,X30030,3473,5122,5727,7575,1.649007,1.478914,0.678055,0.756040,스타필드고양(직),디스커버리 스타필드 고양점,XH3024,일반매장,직영점,직영점,경기
46,X30015,3908,5628,6440,8384,1.647902,1.489694,0.694385,0.768130,타임스퀘어(직),디스커버리 타임스퀘어점,XH3008,일반매장,직영점,직영점,서울
47,X10058,2593,4403,4264,6140,1.644427,1.394504,0.588917,0.694463,현대울산,디스커버리 현대 울산점,XH0255,일반매장,백화점특정,백화점,울산
48,X10015,1675,2980,2751,4172,1.642388,1.400000,0.562081,0.659396,롯데포항,디스커버리 롯데 포항점,XH0214,일반매장,백화점특정,백화점,경북
49,X50114,1469,3058,2394,3796,1.629680,1.241334,0.480379,0.630664,원주중앙(대-위),디스커버리 원주중앙점,XH0104,일반매장,대리점,대리점,강원
50,X50069,1089,2533,1770,3002,1.625344,1.185156,0.429925,0.589607,신포(대-위),디스커버리 신포점,XH0076,일반매장,대리점,대리점,인천
51,X10075,4882,6761,7870,9899,1.612044,1.464133,0.722083,0.795030,신세계본점,디스커버리 신세계 본점,XH266,일반매장,백화점특정,백화점,서울
52,X10055,5979,8238,9627,12100,1.610135,1.468803,0.725783,0.795620,신세계광주,디스커버리 신세계 광주점,XH0256,일반매장,백화점특정,백화점,광주
53,X50073,1568,2969,2524,4226,1.609694,1.423375,0.528124,0.597255,거제고현(대-위),디스커버리 거제고현점,XH0066,일반매장,대리점,대리점,경남
54,X10014,3276,5028,5272,7327,1.609280,1.457239,0.651551,0.719531,롯데중동,디스커버리 롯데 중동점,XH0210,일반매장,백화점특정,백화점,경기
55,X50122,1116,2643,1791,2999,1.604839,1.134695,0.422247,0.597199,상주(대-위),디스커버리 상주점,XH0108,일반매장,대리점,대리점,경북
56,X50094,1191,2577,1911,3082,1.604534,1.195964,0.462165,0.620052,해남(대-위),디스커버리 해남점,XH0086,일반매장,대리점,대리점,전남
57,X50130,2228,4416,3570,5883,1.602334,1.332201,0.504529,0.606833,NC야탑(대-위),디스커버리 NC 야탑점,XH0113,일반매장,대리점,대리점,경기
58,X10005,2153,3450,3447,4933,1.601022,1.429855,0.624058,0.698763,롯데대전,디스커버리 롯데 대전점,XH0202,일반매장,백화점특정,백화점,대전
59,X50107,1224,2726,1958,3271,1.599673,1.199927,0.449010,0.598594,제천(대-위),디스커버리 제천점,XH0063,일반매장,대리점,대리점,충북
60,X50063,3801,5581,6075,7919,1.598264,1.418921,0.681061,0.767142,스퀘어원(대-위),디스커버리 스퀘어원점,XH0051,일반매장,대리점,대리점,인천
61,X50015,1409,2887,2233,3547,1.584812,1.228611,0.488050,0.629546,군산수송(대-위),디스커버리 군산수송점,XH0018,일반매장,대리점,대리점,전북
62,X50058,2333,4020,3682,5395,1.578225,1.342040,0.580348,0.682484,모다대전(대-위),디스커버리 모다대전점,XH0041,일반매장,대리점,대리점,대전
63,X10036,1083,2135,1708,2961,1.577101,1.386885,0.507260,0.576832,세이대전,디스커버리 세이 대전점,XH0236,일반매장,백화점특정,백화점,대전
64,X10035,4029,5754,6309,8486,1.565897,1.474800,0.700209,0.743460,신세계의정부,디스커버리 신세계 의정부점,XH0226,일반매장,백화점특정,백화점,경기
65,X30028,1594,3129,2489,3957,1.561481,1.264621,0.509428,0.629012,광주상무(직),디스커버리 광주상무점,XH3022,일반매장,직영점,직영점,광주
66,X50096,2785,4564,4340,6095,1.558348,1.335451,0.610210,0.712059,LF스퀘어양주(대-위),디스커버리 LF스퀘어 양주점,XH0084,일반매장,대리점,대리점,경기
67,X10060,6590,8481,10269,12451,1.558270,1.468105,0.777031,0.824753,AK수원,디스커버리 AK 수원점,XH0259,일반매장,백화점특정,백화점,경기
68,X50111,1280,2717,1993,3337,1.557031,1.228193,0.471108,0.597243,패션아일랜드(대-위),디스커버리 패션아일랜드점,XH0102,일반매장,대리점,대리점,대전
69,X10078,3330,4863,5182,6943,1.556156,1.427720,0.684762,0.746363,신세계김해,디스커버리 신세계 김해점,XH0264,일반매장,백화점특정,백화점,경남
70,X10068,2304,3639,3574,5096,1.551215,1.400385,0.633141,0.701334,현대판교,디스커버리 현대 판교점,XH0257,일반매장,백화점특정,백화점,경기
71,X50051,2159,3839,3348,4915,1.550718,1.280281,0.562386,0.681180,구미중앙(대-위)close,디스커버리 구미중앙점,XH0054,일반매장,대리점,대리점,경북
72,X10043,3609,5362,5589,7644,1.548628,1.425587,0.673070,0.731162,롯데울산,디스커버리 롯데 울산점,XH0235,일반매장,백화점특정,백화점,울산
73,X50024,1205,2797,1864,3120,1.546888,1.115481,0.430819,0.597436,죽전(대-위),디스커버리 죽전점,XH0030,일반매장,대리점,대리점,경기
74,X50098,1603,3181,2469,3942,1.540237,1.239233,0.503930,0.626332,울산무거(대-위),디스커버리 울산무거점,XH0060,일반매장,대리점,대리점,울산
75,X30026,2060,3482,3165,4632,1.536408,1.330270,0.591614,0.683290,트리플스트리트(직)close,디스커버리 트리플스트리트점,XH3020,일반매장,직영점,직영점,인천
76,X50123,2486,4234,3816,5474,1.534996,1.292867,0.587152,0.697114,포항중앙(대-위),디스커버리 포항중앙점,XH0029,일반매장,대리점,대리점,경북
77,X10019,2382,3772,3649,5829,1.531906,1.545334,0.631495,0.626008,롯데대구,디스커버리 롯데 대구점,XH0212,일반매장,백화점특정,백화점,대구
78,X10051,3369,5063,5154,7166,1.529831,1.415366,0.665416,0.719230,롯데안산,디스커버리 롯데 안산점,XH0249,일반매장,백화점특정,백화점,경기
79,X50116,2032,3766,3107,4662,1.529035,1.237918,0.539565,0.666452,오산(대-위),디스커버리 오산점,XH0105,일반매장,대리점,대리점,경기
80,X50023,2093,3878,3199,4770,1.528428,1.230015,0.539711,0.670650,순천연향(대-위),디스커버리 순천연향점,XH0021,일반매장,대리점,대리점,전남
81,X10076,2397,4087,3645,5324,1.520651,1.302667,0.586494,0.684636,현대미아,디스커버리 현대 미아점,XH268,일반매장,백화점특정,백화점,서울
82,X10033,5190,7574,7877,11063,1.517726,1.460655,0.685239,0.712013,현대중동,디스커버리 현대 중동점,XH0228,일반매장,백화점특정,백화점,경기
83,X10077,4772,6556,7225,9521,1.514040,1.452257,0.727883,0.758849,신세계센텀,디스커버리 신세계 센텀점,XH267,일반매장,백화점특정,백화점,부산
84,X50064,1583,3235,2386,3793,1.507265,1.172488,0.489335,0.629054,포천송우(대-위),디스커버리 포천송우점,XH0045,일반매장,대리점,대리점,경기
85,X50090,1406,3035,2119,3546,1.507112,1.168369,0.463262,0.597575,아산(대-위),디스커버리 아산점,XH0098,일반매장,대리점,대리점,충남
86,X50095,1163,2505,1740,2950,1.496131,1.177645,0.464271,0.589831,진주정촌(대-위),디스커버리 진주정촌점,XH0094,일반매장,대리점,대리점,경남
87,X10022,5795,7460,8658,10687,1.494047,1.432574,0.776810,0.810143,롯데광주,디스커버리 롯데 광주점,XH0213,일반매장,백화점특정,백화점,광주
88,X50099,1172,2824,1749,2946,1.492321,1.043201,0.415014,0.593686,안양(대-위),디스커버리 안양점,XH0089,일반매장,대리점,대리점,경기
89,X50125,2280,3965,3378,5272,1.481579,1.329634,0.575032,0.640744,엔터6상봉(대-위),디스커버리 엔터6 상봉점,XH0111,일반매장,대리점,대리점,서울
90,X50020,1836,3444,2718,4187,1.480392,1.215738,0.533101,0.649152,안동(대-위),디스커버리 안동점,XH0023,일반매장,대리점,대리점,경북
91,X10038,3198,4881,4724,6576,1.477173,1.347265,0.655194,0.718370,롯데창원,디스커버리 롯데 창원점,XH0237,일반매장,백화점특정,백화점,경남
92,X10079,4436,6083,6494,8551,1.463931,1.405721,0.729245,0.759443,신세계하남,디스커버리 신세계 하남점,XH270,일반매장,백화점특정,백화점,경기
93,X10018,5612,7260,8215,10473,1.463828,1.442562,0.773003,0.784398,롯데잠실,디스커버리 롯데 잠실점,XH0211,일반매장,백화점특정,백화점,서울
94,X10067,3618,5094,5268,6904,1.456053,1.355320,0.710247,0.763036,현대울산동구,디스커버리 현대 울산동구점,XH0258,일반매장,백화점특정,백화점,울산
95,X50110,1223,2655,1777,2988,1.452984,1.125424,0.460640,0.594712,수원영통(대-위),디스커버리 수원영통점,XH0034,일반매장,대리점,대리점,경기
96,X50127,2701,4506,3904,5654,1.445391,1.254771,0.599423,0.690485,전주중앙(대-위),디스커버리 전주중앙점,XH0008,일반매장,대리점,대리점,전북
97,X50002,2444,4089,3514,5158,1.437807,1.261433,0.597701,0.681272,대전은행(대-위),디스커버리 대전은행점,XH0002,일반매장,대리점,대리점,대전
98,X50006,1224,2762,1751,2954,1.430556,1.069515,0.443157,0.592756,제주(대-위),디스커버리 제주점,XH0006,일반매장,대리점,대리점,제주
99,X50077,1417,3149,2008,3369,1.417078,1.069863,0.449984,0.596023,서수원(대-위),디스커버리 서수원점,XH0068,일반매장,대리점,대리점,경기
100,X50047,1315,2970,1863,3125,1.416730,1.052189,0.442761,0.596160,순천중앙(대-위),디스커버리 순천중앙점,XH0048,일반매장,대리점,대리점,전남
101,X50007,1072,2463,1515,2740,1.413246,1.112464,0.435242,0.552920,에버세이브청주(대-위),디스커버리 에버세이브 청주점,XH0010,일반매장,대리점,대리점,충북
102,X30036,2390,4001,3373,5594,1.411297,1.398150,0.597351,0.602967,가로수길(직),디스커버리 가로수길점,XH3030,일반매장,직영점,직영점,서울
103,X50074,2107,3708,2964,4371,1.406739,1.178803,0.568231,0.678106,모다인천(대-위),디스커버리 모다인천점,XH0090,일반매장,대리점,대리점,인천
104,X10073,2384,3835,3347,4894,1.403943,1.276141,0.621643,0.683899,신세계마산,디스커버리 신세계 마산점,XH264,일반매장,백화점특정,백화점,경남
105,X50041,1084,2592,1519,2723,1.401292,1.050540,0.418210,0.557841,홍성점(대-위),디스커버리 홍성점,XH0099,일반매장,대리점,대리점,충남
106,X30017,1101,2472,1540,2697,1.398728,1.091019,0.445388,0.571005,구리삼패(직),디스커버리 구리삼패점,XH3010,일반매장,직영점,직영점,경기
107,X10086,1648,3077,2290,4604,1.389563,1.496263,0.535587,0.497394,현대디큐브시티,디스커버리 현대 디큐브시티점,XH0269,일반매장,백화점특정,백화점,서울
108,X10025,2908,4289,4030,5585,1.385832,1.302168,0.678014,0.721576,롯데노원,디스커버리 롯데 노원점,XH0231,일반매장,백화점특정,백화점,서울
109,X10046,2325,3804,3221,4673,1.385376,1.228444,0.611199,0.689279,갤러리아센터시티,디스커버리 갤러리아 센터시티점,XH0239,일반매장,백화점특정,백화점,충남
110,X10020,2246,3842,3013,4535,1.341496,1.180375,0.584591,0.664388,롯데청량리,디스커버리 롯데 청량리점,XH0209,일반매장,백화점특정,백화점,서울
111,X50045,1534,3191,2041,3273,1.330508,1.025697,0.480727,0.623587,익산모현(대-위),디스커버리 익산모현점,XH1001,일반매장,대리점,대리점,전북
112,X10023,4331,6133,5701,7621,1.316324,1.242622,0.706180,0.748065,갤러리아대전,디스커버리 갤러리아 대전점,XH0219,일반매장,백화점특정,백화점,대전
113,X50119,1777,3759,2332,3619,1.312324,0.962756,0.472732,0.644377,보령(대-위),디스커버리 보령점,XH0107,일반매장,대리점,대리점,충남
114,X10011,4364,5909,5715,7662,1.309578,1.296666,0.738534,0.745889,롯데미아,디스커버리 롯데 미아점,XH0206,일반매장,백화점특정,백화점,서울
115,X50062,1349,3103,1765,3137,1.308377,1.010957,0.434741,0.562639,인천구월(대-위),디스커버리 인천구월점,XH0039,일반매장,대리점,대리점,인천
116,X50104,1730,3363,2262,3752,1.307514,1.115671,0.514422,0.602878,애플사상(대-위),디스커버리 애플사상점,XH0092,일반매장,대리점,대리점,부산
117,X50121,2428,4398,3162,5263,1.302306,1.196680,0.552069,0.600798,청주성안(대-위),디스커버리 청주성안점,XH0109,일반매장,대리점,대리점,충북
118,X50019,2874,4911,3732,5484,1.298539,1.116677,0.585217,0.680525,경주(대-위),디스커버리 경주점,XH0025,일반매장,대리점,대리점,경북
119,X50117,2320,4025,3007,4597,1.296121,1.142112,0.576398,0.654122,아이즈빌부평(대-위),디스커버리 아이즈빌 부평점,XH0064,일반매장,대리점,대리점,인천
120,X50128,1472,3029,1905,3200,1.294158,1.056454,0.485969,0.595313,전주신도시(대-위),디스커버리 전주신도시점,XH0087,일반매장,대리점,대리점,전북
121,X50053,3020,5025,3860,5420,1.278146,1.078607,0.600995,0.712177,전주송천(대-위),디스커버리 전주송천점,XH0056,일반매장,대리점,대리점,전북
122,X50091,1066,2435,1362,2687,1.277674,1.103491,0.437782,0.506885,서귀포(대-위),디스커버리 서귀포점,XH1000,일반매장,대리점,대리점,제주
123,X50102,2761,4813,3516,5251,1.273452,1.091004,0.573655,0.669587,일산덕이(대-위),디스커버리 일산덕이점,XH0091,일반매장,대리점,대리점,경기
124,X10059,3442,4974,4323,6082,1.255956,1.222758,0.691998,0.710786,현대대구,디스커버리 현대 대구점,XH269,일반매장,백화점특정,백화점,대구
125,X10065,2083,3585,2596,4056,1.246279,1.131381,0.581032,0.640039,현대무역,디스커버리 현대 무역점,XH0252,일반매장,백화점특정,백화점,서울
126,X10045,1373,2494,1701,2897,1.238893,1.161588,0.550521,0.587159,롯데관악,디스커버리 롯데 관악점,XH0240,일반매장,백화점특정,백화점,서울
127,X50059,1579,3006,1880,3160,1.190627,1.051231,0.525283,0.594937,신제주(대-위),디스커버리 신제주점,XH0042,일반매장,대리점,대리점,제주
128,X50113,1957,3706,2323,3831,1.187021,1.033729,0.528063,0.606369,북수원(대-위),디스커버리 북수원점,XH0103,일반매장,대리점,대리점,경기
129,X10030,1244,2523,1474,2613,1.184887,1.035672,0.493064,0.564103,롯데센텀,디스커버리 롯데 센텀점,XH0224,일반매장,백화점특정,백화점,부산
130,X10008,9047,10927,10499,12509,1.160495,1.144779,0.827949,0.839316,롯데건대,디스커버리 롯데 건대점,XH0200,일반매장,백화점특정,백화점,서울
131,X10009,5773,7918,6697,9246,1.160055,1.167719,0.729098,0.724313,현대신촌,디스커버리 현대 신촌점,XH0015,일반매장,백화점특정,백화점,서울
132,X10004,5285,7110,6117,8272,1.157427,1.163432,0.743319,0.739483,롯데영등포,디스커버리 롯데 영등포점,XH0204,일반매장,백화점특정,백화점,서울
133,X10026,2407,3824,2778,4330,1.154134,1.132322,0.629446,0.641570,롯데김포,디스커버리 롯데 김포점,XH0221,일반매장,백화점특정,백화점,서울
134,X10080,3372,5372,3840,5663,1.138790,1.054170,0.627699,0.678086,엔터6왕십리,디스커버리 엔터식스 왕십리점,XH0266,일반매장,백화점특정,백화점,서울
135,X50089,3723,5514,4182,5827,1.123288,1.056765,0.675190,0.717693,퍼스트빌리지(대-위),디스커버리 퍼스트빌리지점,XH0083,일반매장,대리점,대리점,충남
136,X50133,3805,5363,4263,5712,1.120368,1.065076,0.709491,0.746324,AK기흥(대-위),디스커버리 AK 기흥점,XH0117,일반매장,대리점,대리점,경기
137,X10081,2638,4192,2904,4338,1.100834,1.034828,0.629294,0.669433,신세계스타일마켓,디스커버리 신세계 대전점,XH271,일반매장,백화점특정,백화점,대전
138,X10062,2774,4239,2938,4183,1.059120,0.986789,0.654400,0.702367,롯데분당,디스커버리 롯데 분당점,XH0251,일반매장,백화점특정,백화점,경기
139,X50088,1324,3022,1395,2620,1.053625,0.866976,0.438120,0.532443,진접(대-위),디스커버리 진접점,XH0096,일반매장,대리점,대리점,경기
140,X10029,1858,3178,1949,3161,1.048977,0.994651,0.584644,0.616577,롯데상인,디스커버리 롯데 상인점,XH0223,일반매장,백화점특정,백화점,대구
141,X10085,3515,4808,3080,4604,0.876245,0.957571,0.731073,0.668983,롯데마산,디스커버리 롯데 마산점,XH0263,일반매장,백화점특정,백화점,경남
142,X10044,6270,7870,4960,6625,0.791069,0.841804,0.796696,0.748679,롯데구리,디스커버리 롯데 구리점,XH0238,일반매장,백화점특정,백화점,경기

In [33]:
# 백화점 / 대리점 추출

department_total_sales = shop_total_sales_info[shop_total_sales_info['type_zone_nm']=='백화점']
agency_total_sales = shop_total_sales_info[shop_total_sales_info['type_zone_nm']=='대리점']

# 그룹화

## 1.분위수별

In [34]:
# 2019년 판매량 관련 분위수

d_Q1_2019 = department_total_sales['총 판매량(2019)'].quantile(.25)
d_Q3_2019 = department_total_sales['총 판매량(2019)'].quantile(.75)
d_IQR_2019 = d_Q3_2019 - d_Q1_2019
d_Q2_2019 = department_total_sales['총 판매량(2019)'].quantile(.5)
d_Q4_2019 = department_total_sales['총 판매량(2019)'].quantile(1)
d_Q0_2019 = department_total_sales[((department_total_sales['총 판매량(2019)']>d_Q3_2019+1.5*d_IQR_2019))]

In [35]:
d_q4_2019 = department_total_sales[department_total_sales['총 판매량(2019)']<d_Q1_2019]
d_q3_2019 = department_total_sales[(department_total_sales['총 판매량(2019)']>d_Q1_2019)&(department_total_sales['총 판매량(2019)']<d_Q2_2019)]
d_q2_2019 = department_total_sales[(department_total_sales['총 판매량(2019)']>d_Q2_2019)&(department_total_sales['총 판매량(2019)']<d_Q3_2019)]
d_q1_2019 = department_total_sales[(department_total_sales['총 판매량(2019)']>d_Q3_2019)&(department_total_sales['총 판매량(2019)']<d_Q3_2019+1.5*d_IQR_2019)]
d_q0_2019 = department_total_sales[((department_total_sales['총 판매량(2019)']>d_Q3_2019+1.5*d_IQR_2019))]

In [36]:
# 2020 년 판매량 관련 분위수

d_Q1_2020 = department_total_sales['총 판매량(2020)'].quantile(.25)
d_Q3_2020 = department_total_sales['총 판매량(2020)'].quantile(.75)
d_IQR_2020 = d_Q3_2020 - d_Q1_2020
d_Q2_2020 = department_total_sales['총 판매량(2020)'].quantile(.5)
d_Q4_2020 = department_total_sales['총 판매량(2020)'].quantile(1)
d_Q0_2020 = department_total_sales[((department_total_sales['총 판매량(2020)']>d_Q3_2020+1.5*d_IQR_2020))]

In [37]:
d_q4_2020 = department_total_sales[department_total_sales['총 판매량(2020)']<d_Q1_2020]
d_q3_2020 = department_total_sales[(department_total_sales['총 판매량(2020)']>d_Q1_2020)&(department_total_sales['총 판매량(2020)']<d_Q2_2020)]
d_q2_2020 = department_total_sales[(department_total_sales['총 판매량(2020)']>d_Q2_2020)&(department_total_sales['총 판매량(2020)']<d_Q3_2020)]
d_q1_2020 = department_total_sales[(department_total_sales['총 판매량(2020)']>d_Q3_2020)&(department_total_sales['총 판매량(2020)']<d_Q3_2020+1.5*d_IQR_2020)]
d_q0_2020 = department_total_sales[((department_total_sales['총 판매량(2020)']>d_Q3_2020+1.5*d_IQR_2020))]

In [38]:
d_q4_2019['quantile'] = 'Q4'
d_q3_2019['quantile'] = 'Q3'
d_q2_2019['quantile'] = 'Q2'
d_q1_2019['quantile'] = 'Q1'
d_q0_2019['quantile'] = 'Q0'

<ipython-input-38-10d89d940764>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d_q4_2019['quantile'] = 'Q4'
<ipython-input-38-10d89d940764>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d_q3_2019['quantile'] = 'Q3'
<ipython-input-38-10d89d940764>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d_q2_2019['quantile'] = 'Q2'
<ipython-input-38-10d89d940764>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d_q1_2019['quantile'] = 'Q1'
<ipython-input-38-10d89d940764>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d_q0_2019['quantile'] = 'Q0'

In [39]:
d_2019_quantile = [d_q0_2019,d_q1_2019,d_q2_2019,d_q3_2019,d_q4_2019]
d_2019_quantile = pd.concat(d_2019_quantile)

In [40]:
d_q4_2020['quantile'] = 'Q4'
d_q3_2020['quantile'] = 'Q3'
d_q2_2020['quantile'] = 'Q2'
d_q1_2020['quantile'] = 'Q1'
d_q0_2020['quantile'] = 'Q0'

<ipython-input-40-96223640cad9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d_q4_2020['quantile'] = 'Q4'
<ipython-input-40-96223640cad9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d_q3_2020['quantile'] = 'Q3'
<ipython-input-40-96223640cad9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d_q2_2020['quantile'] = 'Q2'
<ipython-input-40-96223640cad9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d_q1_2020['quantile'] = 'Q1'
<ipython-input-40-96223640cad9>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d_q0_2020['quantile'] = 'Q0'

In [41]:
d_2020_quantile = [d_q0_2020,d_q1_2020,d_q2_2020,d_q3_2020,d_q4_2020]
d_2020_quantile = pd.concat(d_2020_quantile)

In [42]:
# 각 분위수 설정

bk_total_shop_ratio_quantile= pd.merge(bk_total_shop_ratio, d_2019_quantile[['shopkey','quantile']], left_on='shopkey', right_on='shopkey', how='inner')
bk_quantile_shop = bk_total_shop_ratio_quantile.groupby(['weekkey','quantile']).sum().reset_index()

In [43]:
# 분위수 별 버킷 디워커 - 카운트 + ratio 생성


bk_total_quantile = []
count_list = []
rise_ratio_list = []

for quantile in bk_quantile_shop['quantile'].unique():
    count = 0
    shop_week = bk_quantile_shop[bk_quantile_shop['quantile']== quantile]
    shop_week['rise_ratio'] = 0
    
    for i in range(0,len(shop_week)):
        total_sale_qty= shop_week['week_sale_qty'].sum()
        a = shop_week.iloc[i]
        if a['sale_qty']==0 :
            shop_week.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5],a[6] , 0,0]
        else:
            if a['sale_qty'] / total_sale_qty > 1:
                shop_week.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5],a[6] , 1,0]
            else:
                shop_week.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5],a[6] , a['sale_qty'] / total_sale_qty,0]
                
        if shop_week.iloc[i]['ratio'] > bk_department_weeks_mean_df.iloc[i]['ratio']:
            count += 1
        
        a = shop_week.iloc[i]
        if i == 0:
            shop_week.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5],a[6] ,a[7],a[7]]
        else:
            shop_week.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5],a[6] ,a[7],shop_week.iloc[i]['ratio'] - shop_week.iloc[i-1]['ratio']]

    else:
        count_list.append(count)
        bk_total_quantile.append(shop_week)

<ipython-input-43-1a8d71c540ef>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shop_week['rise_ratio'] = 0
C:\Users\AD0486\anaconda3\lib\site-packages\pandas\core\indexing.py:1760: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, v)

In [44]:
bk_total_quantile_df = pd.concat(bk_total_quantile)

In [45]:
# 분위수 카운트

bk_quantile_count = pd.DataFrame([ x for x in zip(bk_quantile_shop['quantile'],count_list)])
bk_quantile_count.columns=['quantile(2019)','count(2019)']

In [46]:
# 각 분위수 설정

v2_total_shop_ratio_quantile= pd.merge(v2_total_shop_ratio, d_2020_quantile[['shopkey','quantile']], left_on='shopkey', right_on='shopkey', how='inner')
v2_quantile_shop = v2_total_shop_ratio_quantile.groupby(['weekkey','quantile']).sum().reset_index()

In [47]:
# 분위수 별 버킷 디워커 v2 - 카운트 + ratio 생성

v2_total_quantile = []
count_list = []
for quantile in v2_quantile_shop['quantile'].unique():
    count = 0
    shop_week = v2_quantile_shop[v2_quantile_shop['quantile']== quantile]
    shop_week['rise_ratio'] = 0
    
    for i in range(0,len(shop_week)):
        total_sale_qty= shop_week['week_sale_qty'].sum()
        a = shop_week.iloc[i]
        if a['sale_qty']==0 :
            shop_week.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5],a[6] , 0,0]
        else:
            if a['sale_qty'] / total_sale_qty > 1:
                shop_week.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5],a[6] , 1,0]
            else:
                shop_week.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5],a[6] , a['sale_qty'] / total_sale_qty,0]
                
        if shop_week.iloc[i]['ratio'] > v2_department_weeks_mean.iloc[i]['ratio']:
            count += 1
        
        a = shop_week.iloc[i]
        if i == 0:
            shop_week.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5],a[6] ,a[7],a[7]]
        else:
            shop_week.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5],a[6] ,a[7],shop_week.iloc[i]['ratio'] - shop_week.iloc[i-1]['ratio']]

    else:
        count_list.append(count)
        v2_total_quantile.append(shop_week)

<ipython-input-47-504497e6d0d6>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shop_week['rise_ratio'] = 0

In [48]:
v2_total_quantile_df = pd.concat(v2_total_quantile)

In [49]:
v2_quantile_count = pd.DataFrame([ x for x in zip(v2_quantile_shop['quantile'],count_list)])
v2_quantile_count.columns=['quantile(2020)','count(2020)']

## 2. 매장별

In [50]:
# 버킷 디워커 매장별 평균 소진비율 이상 개수 카운트 

count_list = []
for shop_key in bk_total_shop_ratio_info['shopkey'].unique():
    count = 0
    shop_week = bk_total_shop_ratio[bk_total_shop_ratio['shopkey']== shop_key]
    for i in range(0,len(shop_week)):
        if shop_week.iloc[i]['ratio'] > bk_department_weeks_mean_df.iloc[i]['ratio']:
            count += 1
    else:
        count_list.append(count)

In [51]:
shop_bk_count = pd.DataFrame([ x for x in zip(bk_total_shop_ratio_info['shopkey'].unique(),count_list)])
shop_bk_count.columns=['shopkey','ratio_count(2019)']

In [52]:
bk_total_shop_ratio_info_count = pd.merge(bk_total_shop_ratio_info,shop_bk_count, left_on='shopkey', right_on='shopkey', how='inner')

In [53]:
# 버킷 디워커 v2 매장별 평균 소진비율 이상 개수 카운트 

count_list = []
for shop_key in v2_total_shop_ratio_info['shopkey'].unique():
    count = 0
    shop_week = v2_total_shop_ratio_info[v2_total_shop_ratio_info['shopkey']== shop_key]
    for i in range(0,len(shop_week)):
        if shop_week.iloc[i]['ratio'] > v2_department_weeks_mean.iloc[i]['ratio']:
            count += 1
    else:
        count_list.append(count)

In [54]:
shop_v2_count = pd.DataFrame([ x for x in zip(v2_total_shop_ratio_info['shopkey'].unique(),count_list)])
shop_v2_count.columns=['shopkey','ratio_count(2020)']

In [55]:
v2_total_shop_ratio_info_count = pd.merge(v2_total_shop_ratio_info,shop_v2_count, left_on='shopkey', right_on='shopkey', how='inner')

## 3.지역별

In [56]:
bk_region_shop = shop_weeks_buket_df[shop_weeks_buket_df['type_zone_nm']=='백화점'].groupby(['weekkey','region_nm']).sum().reset_index()

In [57]:
# 버킷 디워커 카운트

bk_total_region = []
count_list = []
for region in bk_region_shop['region_nm'].unique():
    count = 0
    shop_week = bk_region_shop[bk_region_shop['region_nm']== region]
    shop_week['rise_ratio'] = 0
    
    for i in range(0,len(shop_week)):
        total_sale_qty= shop_week['week_sale_qty'].sum()
        a = shop_week.iloc[i]
        if a['sale_qty']==0 :
            shop_week.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5],a[6] , 0,0]
        else:
            if a['sale_qty'] / total_sale_qty > 1:
                shop_week.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5],a[6] , 1,0]
            else:
                shop_week.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5],a[6] , a['sale_qty'] / total_sale_qty,0]
                
        if shop_week.iloc[i]['ratio'] > bk_department_weeks_mean_df.iloc[i]['ratio']:
            count += 1
        
        a = shop_week.iloc[i]
        if i == 0:
            shop_week.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5],a[6] ,a[7],a[7]]
        else:
            shop_week.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5],a[6] ,a[7],shop_week.iloc[i]['ratio'] - shop_week.iloc[i-1]['ratio']]

    else:
        count_list.append(count)
        bk_total_region.append(shop_week)

<ipython-input-57-3d55a36dc509>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shop_week['rise_ratio'] = 0

In [58]:
# 지역별 버킷디워커 재고 소진율

bk_total_region_df = pd.concat(bk_total_region)

In [59]:
bk_region_count = pd.DataFrame([ x for x in zip(bk_region_shop['region_nm'].unique(),count_list)])
bk_region_count.columns = ['지역','개수']

In [61]:
v2_region_shop = shop_weeks_buket_v2_df[shop_weeks_buket_v2_df['type_zone_nm']=='백화점'].groupby(['weekkey','region_nm']).sum().reset_index()

In [62]:
# 버킷 디워커 v2 카운트

v2_total_region = []

count_list=[]
for region in v2_region_shop['region_nm'].unique():
    count = 0
    shop_week = v2_region_shop[v2_region_shop['region_nm']== region]
    shop_week['rise_ratio'] = 0
    
    for i in range(0,len(shop_week)):
        total_sale_qty= shop_week['week_sale_qty'].sum()
        a = shop_week.iloc[i]
        if a['sale_qty']==0 :
            shop_week.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5],a[6] , 0,0]
        else:
            if a['sale_qty'] / total_sale_qty > 1:
                shop_week.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5],a[6] , 1,0]
            else:
                shop_week.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5],a[6] , a['sale_qty'] / total_sale_qty,0]
                
        if shop_week.iloc[i]['ratio'] > v2_department_weeks_mean.iloc[i]['ratio']:
            count += 1
        
        a = shop_week.iloc[i]
        if i == 0:
            shop_week.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5],a[6] ,a[7],a[7]]
        else:
            shop_week.iloc[i] = [a[0],a[1] ,a[2] ,a[3] ,a[4] ,a[5],a[6] ,a[7],shop_week.iloc[i]['ratio'] - shop_week.iloc[i-1]['ratio']]

    else:
        count_list.append(count)
        v2_total_region.append(shop_week)

<ipython-input-62-c7cb8b6bc340>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shop_week['rise_ratio'] = 0
C:\Users\AD0486\anaconda3\lib\site-packages\pandas\core\indexing.py:1760: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, v)

In [63]:
# 지역별 버킷디워커 v2 재고 소진율

v2_total_region_df = pd.concat(v2_total_region)

In [64]:
v2_region_count = pd.DataFrame([ x for x in zip(v2_region_shop['region_nm'].unique(),count_list)])
v2_region_count.columns = ['지역','개수']

## 파일 생성

In [82]:
bk_total_region_df = pd.concat(bk_total_region)
bk_total_quantile_df = pd.concat(bk_total_quantile)
bk_total_shop_ratio_info_count = pd.merge(bk_total_shop_ratio_info,shop_bk_count, left_on='shopkey', right_on='shopkey', how='inner')
bk_department_weeks_mean_df = bk_department_weeks_mean.copy()
v2_total_region_df = pd.concat(v2_total_region)
v2_total_shop_ratio_info_count = pd.merge(v2_total_shop_ratio_info,shop_v2_count, left_on='shopkey', right_on='shopkey', how='inner')
v2_total_quantile_df = pd.concat(v2_total_quantile)
v2_department_weeks_mean_df = v2_department_weeks_mean.copy()

In [83]:
bk_total_region_df.rise_ratio = round((bk_total_region_df.rise_ratio*100),2)
v2_total_region_df.rise_ratio = round((v2_total_region_df.rise_ratio*100),2)
v2_total_shop_ratio_info_count.rise_ratio = round((v2_total_shop_ratio_info_count.rise_ratio*100),2)
bk_total_shop_ratio_info_count.rise_ratio = round((bk_total_shop_ratio_info_count.rise_ratio*100),2)
v2_total_quantile_df.rise_ratio = round((v2_total_quantile_df.rise_ratio*100),2)
bk_total_quantile_df.rise_ratio = round((bk_total_quantile_df.rise_ratio*100),2)
bk_department_weeks_mean_df.rise_ratio = round((bk_department_weeks_mean_df.rise_ratio*100),2)
v2_department_weeks_mean_df.rise_ratio = round((v2_department_weeks_mean_df.rise_ratio*100),2)

In [542]:
# 지역 

bk_total_region_df.to_csv('bk_total_region_df.csv')
v2_total_region_df.to_csv('v2_total_region_df.csv')
bk_region_count.to_csv('bk_region_count.csv')
v2_region_count.to_csv('v2_region_count.csv')

In [554]:
# 매장별

v2_total_shop_ratio_info_count.to_csv('v2_total_shop_ratio_info_count.csv')
bk_total_shop_ratio_info_count.to_csv('bk_total_shop_ratio_info_count.csv')

In [430]:
# 분위수

v2_total_quantile_df.to_csv('v2_total_quantile_df.csv')
bk_total_quantile_df.to_csv('bk_total_quantile_df.csv')

In [502]:
bk_quantile_count.to_csv('bk_quantile_count.csv')
v2_quantile_count.to_csv('v2_quantile_count.csv')

In [433]:
# 평균

bk_department_weeks_mean_df.to_csv('bk_department_weeks_mean.csv')
v2_department_weeks_mean_df.to_csv('v2_department_weeks_mean.csv')

# 04.08 재고 소진율 / 루시 검색량과의 상관관계

In [92]:
# bk와 검색량
bk_search = pd.read_csv("bk_search.csv")
# bk_search = bk_search.iloc[ :,1:]

In [93]:
# bk와 검색량
v2_search = pd.read_csv("v2_search.csv")
# v2_search = v2_search.iloc[ :,1:]

In [119]:
v2_sales  = v2_department_weeks_mean_df.reset_index()
bk_sales = bk_department_weeks_mean_df.reset_index()

In [120]:
# bk 평균
bk_search_sales = pd.concat([bk_sales,bk_search],axis=1)
bk_search_sales.corr()

,week_takeout_qty,takeout_qty,week_sale_qty,sale_qty,stock_qty,ratio,rise_ratio,search
week_takeout_qty,1.000000,-0.452459,0.848690,-0.527246,0.101626,-0.531499,0.826818,0.543160
takeout_qty,-0.452459,1.000000,-0.429838,0.976450,0.521980,0.970906,-0.372547,-0.050986
week_sale_qty,0.848690,-0.429838,1.000000,-0.518339,0.165546,-0.525819,0.990022,0.634960
sale_qty,-0.527246,0.976450,-0.518339,1.000000,0.325665,0.999487,-0.454026,-0.145522
stock_qty,0.101626,0.521980,0.165546,0.325665,1.000000,0.303402,0.162358,0.351883
ratio,-0.531499,0.970906,-0.525819,0.999487,0.303402,1.000000,-0.460568,-0.154628
rise_ratio,0.826818,-0.372547,0.990022,-0.454026,0.162358,-0.460568,1.000000,0.642394
search,0.543160,-0.050986,0.634960,-0.145522,0.351883,-0.154628,0.642394,1.000000

In [121]:
# v2 평균이랑 비슷 
v2_search_sales = pd.concat([v2_sales,v2_search],axis=1)
v2_search_sales.corr()

,week_takeout_qty,takeout_qty,week_sale_qty,sale_qty,stock_qty,ratio,rise_ratio,search
week_takeout_qty,1.000000,-0.690171,0.762397,-0.695516,-0.546322,-0.701373,0.744127,0.259479
takeout_qty,-0.690171,1.000000,-0.481496,0.998746,0.877698,0.998121,-0.495304,0.107543
week_sale_qty,0.762397,-0.481496,1.000000,-0.482345,-0.408705,-0.489596,0.975519,0.487054
sale_qty,-0.695516,0.998746,-0.482345,1.000000,0.852604,0.999791,-0.498700,0.090087
stock_qty,-0.546322,0.877698,-0.408705,0.852604,1.000000,0.848080,-0.396282,0.260174
ratio,-0.701373,0.998121,-0.489596,0.999791,0.848080,1.000000,-0.506059,0.080121
rise_ratio,0.744127,-0.495304,0.975519,-0.498700,-0.396282,-0.506059,1.000000,0.462248
search,0.259479,0.107543,0.487054,0.090087,0.260174,0.080121,0.462248,1.000000

In [254]:
bk_search_quantile_list=[]
for i in bk_total_quantile_df['quantile'].unique():
#     print(len(v2_total_quantile_df[v2_total_quantile_df['quantile'] == i]))
    bk_search_quantile = pd.concat([ bk_total_quantile_df[bk_total_quantile_df['quantile'] == i].reset_index().iloc[:,1:],bk_search],axis=1)
    bk_search_quantile_list.append(bk_search_quantile.corr().iloc[-1][6])

In [255]:
bk_search_quantile_list

[0.39039069975259627,
 0.6001321616139836,
 0.6565907241931432,
 0.6425311929908867,
 0.4346860730694529]

In [273]:
bk_quantile_corr = pd.DataFrame(bk_search_quantile_list,bk_total_quantile_df['quantile'].unique())
bk_quantile_corr.columns=['corr']

In [275]:
bk_quantile_corr.to_csv('bk_quantile_corr.csv')

In [256]:
v2_search_quantile_list=[]
for i in v2_total_quantile_df['quantile'].unique():
#     print(len(v2_total_quantile_df[v2_total_quantile_df['quantile'] == i]))
    v2_search_quantile = pd.concat([ v2_total_quantile_df[v2_total_quantile_df['quantile'] == i].reset_index().iloc[:,1:],v2_search],axis=1)
    v2_search_quantile_list.append(v2_search_quantile.corr().iloc[-1][6])

In [276]:
v2_quantile_corr = pd.DataFrame(v2_search_quantile_list,v2_total_quantile_df['quantile'].unique())
v2_quantile_corr.columns=['corr']

In [280]:
v2_quantile_corr.to_csv('v2_quantile_corr.csv')

In [258]:
bk_search_region_list=[]
for i in bk_total_region_df['region_nm'].unique():
    bk_search_region = pd.concat([ bk_total_region_df[bk_total_region_df['region_nm'] == i].reset_index().iloc[:,1:] ,bk_search],axis=1)
    bk_search_region_list.append(bk_search_region.corr().iloc[-1][6])

In [277]:
bk_region_corr = pd.DataFrame(bk_search_region_list,bk_total_region_df['region_nm'].unique())
bk_region_corr.columns=['corr']

In [281]:
bk_region_corr.to_csv('bk_region_corr.csv')

In [264]:
v2_search_region_list=[]
for i in v2_total_region_df['region_nm'].unique():
    v2_search_region = pd.concat([ v2_total_region_df[v2_total_region_df['region_nm'] == i].reset_index().iloc[:,1:] ,v2_search],axis=1)
    v2_search_region_list.append(v2_search_region.corr().iloc[-1][6])

In [278]:
v2_region_corr = pd.DataFrame(v2_search_region_list,v2_total_region_df['region_nm'].unique())
v2_region_corr.columns=['corr']

In [282]:
v2_region_corr.to_csv('v2_region_corr.csv')

In [285]:
bk_total_region_df[bk_total_region_df['region_nm']=='부산']

,weekkey,region_nm,week_takeout_qty,takeout_qty,week_sale_qty,sale_qty,stock_qty,ratio,rise_ratio
7,2018-12-31,부산,33,33,0,0,33,0.000000,0.00
21,2019-01-07,부산,0,33,7,7,26,0.005232,0.52
35,2019-01-14,부산,57,90,80,87,3,0.065022,5.98
49,2019-01-21,부산,66,156,61,148,8,0.110613,4.56
63,2019-01-28,부산,51,205,43,191,14,0.142750,3.21
77,2019-02-04,부산,-1,204,55,246,-42,0.183857,4.11
91,2019-02-11,부산,35,237,42,288,-51,0.215247,3.14
105,2019-02-18,부산,123,359,41,329,30,0.245889,3.06
119,2019-02-25,부산,27,386,38,367,19,0.274290,2.84
133,2019-03-04,부산,151,537,61,428,109,0.319880,4.56
147,2019-03-11,부산,182,719,59,487,232,0.363976,4.41
161,2019-03-18,부산,45,764,42,529,235,0.395366,3.14
175,2019-03-25,부산,77,841,38,567,274,0.423767,2.84
189,2019-04-01,부산,67,908,44,611,297,0.456652,3.29
203,2019-04-08,부산,53,961,68,679,282,0.507474,5.08
217,2019-04-15,부산,53,1014,19,698,316,0.521674,1.42
231,2019-04-22,부산,19,1033,33,731,302,0.546338,2.47
245,2019-04-29,부산,42,1075,49,780,295,0.582960,3.66
259,2019-05-06,부산,55,1130,50,830,300,0.620329,3.74
273,2019-05-13,부산,45,1175,53,883,292,0.659940,3.96
287,2019-05-20,부산,42,1217,32,915,302,0.683857,2.39
301,2019-05-27,부산,7,1224,21,936,288,0.699552,1.57
315,2019-06-03,부산,20,1244,14,950,294,0.710015,1.05
329,2019-06-10,부산,16,1260,19,969,291,0.724215,1.42
343,2019-06-17,부산,14,1274,10,979,295,0.731689,0.75
357,2019-06-24,부산,6,1280,14,993,287,0.742152,1.05
371,2019-07-01,부산,14,1294,6,999,295,0.746637,0.45
385,2019-07-08,부산,4,1298,15,1014,284,0.757848,1.12
399,2019-07-15,부산,8,1306,15,1029,277,0.769058,1.12
413,2019-07-22,부산,8,1314,5,1034,280,0.772795,0.37
427,2019-07-29,부산,5,1319,11,1045,274,0.781016,0.82
441,2019-08-05,부산,6,1325,11,1056,269,0.789238,0.82
455,2019-08-12,부산,3,1328,15,1071,257,0.800448,1.12
469,2019-08-19,부산,4,1332,8,1079,253,0.806428,0.60
483,2019-08-26,부산,0,1332,12,1091,241,0.815396,0.90
497,2019-09-02,부산,2,1334,18,1109,225,0.828849,1.35
511,2019-09-09,부산,4,1338,26,1135,203,0.848281,1.94
525,2019-09-16,부산,5,1343,24,1159,184,0.866218,1.79
539,2019-09-23,부산,9,1352,13,1172,180,0.875934,0.97
553,2019-09-30,부산,19,1371,42,1214,157,0.907324,3.14
567,2019-10-07,부산,20,1391,14,1228,163,0.917788,1.05
581,2019-10-14,부산,-3,1388,12,1240,148,0.926756,0.90
595,2019-10-21,부산,0,1388,8,1248,140,0.932735,0.60
609,2019-10-28,부산,0,1388,9,1257,131,0.939462,0.67
623,2019-11-04,부산,-4,1384,5,1262,122,0.943199,0.37
637,2019-11-11,부산,9,1393,20,1282,111,0.958146,1.49
651,2019-11-18,부산,5,1398,10,1292,106,0.965620,0.75
665,2019-11-25,부산,2,1400,11,1303,97,0.973842,0.82
679,2019-12-02,부산,0,1400,10,1313,87,0.981315,0.75
693,2019-12-09,부산,-6,1394,11,1324,70,0.989537,0.82
707,2019-12-16,부산,-1,1393,6,1330,63,0.994021,0.45
721,2019-12-23,부산,1,1394,4,1334,60,0.997010,0.30
735,2019-12-30,부산,-3,1391,4,1338,53,1.000000,0.30