In [117]:
import pandas as pd
import sklearn
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import seaborn as sns
from sklearn.externals import joblib

ImportError: cannot import name 'joblib' from 'sklearn.externals' (C:\Users\AD0486\anaconda3\lib\site-packages\sklearn\externals\__init__.py)

In [3]:
# f = open("CriteoSearchData", 'r')
f = open("CriteoSearchData", 'r')
lines = f.readlines()

In [4]:
total_data = []
for i in range(0,1500000):
    total_data.append(lines[i].split('\t'))

100%|████████████████████████████████████████████████████████████████████| 1500000/1500000 [00:09<00:00, 150753.85it/s]

In [5]:
total_data = pd.DataFrame(total_data)

In [6]:
total_data.columns=['Sale' , 'SalesAmountInEuro' ,'Time_delay_for_conversion' ,'click_timestamp','nb_clicks_1week','product_price','product_age_group','device_type','audience_id','product_gender','product_brand','product_category_1','product_category_2','product_category_3','product_category_4','product_category_5','product_category_6','product_category_7','product_country','product_id','product_title','partner_id','user_id']

In [7]:
total_data['Sale'] = pd.to_numeric(total_data['Sale'])
total_data['SalesAmountInEuro'] = pd.to_numeric(total_data['SalesAmountInEuro'])
total_data['Time_delay_for_conversion'] = pd.to_numeric(total_data['Time_delay_for_conversion'])
total_data['click_timestamp'] = pd.to_numeric(total_data['click_timestamp'])
total_data['nb_clicks_1week'] = pd.to_numeric(total_data['nb_clicks_1week'])
total_data['product_price'] = pd.to_numeric(total_data['product_price'])

In [13]:
for i in category_feature:
    le.fit(total_data[i])
    label = le.transform(total_data[i])
    total_data[i] = label

In [15]:
train_date = total_data[0:1000000]
test_date = total_data[1000000:1500000]

In [23]:
x_train = train_date[['click_timestamp','nb_clicks_1week','product_price','product_age_group','device_type','audience_id','product_gender','product_brand','product_category_1','product_category_2','product_category_3','product_category_4','product_category_5','product_category_6','product_category_7','product_country','product_id','product_title','partner_id','user_id']]

In [24]:
x_test = test_date[['click_timestamp','nb_clicks_1week','product_price','product_age_group','device_type','audience_id','product_gender','product_brand','product_category_1','product_category_2','product_category_3','product_category_4','product_category_5','product_category_6','product_category_7','product_country','product_id','product_title','partner_id','user_id']]

In [16]:
y_train = train_date['Sale']

In [25]:
y_test = test_date['Sale']

In [74]:
le.fit(train_date_x[i])

LabelEncoder()

In [27]:
lr = LinearRegression()

In [38]:
predict = lr.predict(x_train)

In [111]:
def result_def(x,y):
    lr.fit(x,y)
    predict = lr.predict(x)
    line = []
    for i in range(1,len(x)+1):
        line.append(int(i))
    result = pd.concat([pd.DataFrame(line),pd.DataFrame(list(y)),pd.DataFrame(predict)],axis=1)
    result.columns = ['Line Number','Target Label','Predicted Probability']
    return result

In [112]:
train_result = result_def(x_train,y_train)

In [113]:
test_result = result_def(x_test,y_test)

In [114]:
train_result.to_csv('test_result.txt', sep = '\t', index = False)

        Line Number  Target Label  Predicted Probability
0                 1             0               0.080945
1                 2             0               0.148969
2                 3             0               0.083295
3                 4             0               0.189658
4                 5             0               0.078167
...             ...           ...                    ...
999995       999996             1               0.108351
999996       999997             0               0.079065
999997       999998             1               0.160366
999998       999999             0               0.167834
999999      1000000             0               0.160463

[1000000 rows x 3 columns]

In [115]:
test_result.to_csv('test_result.txt', sep = '\t', index = False)

        Line Number  Target Label  Predicted Probability
0                 1             0               0.225409
1                 2             0               0.130292
2                 3             0               0.096733
3                 4             0               0.149289
4                 5             0               0.119512
...             ...           ...                    ...
499995       499996             0               0.052031
499996       499997             0               0.012545
499997       499998             0               0.077516
499998       499999             0               0.058361
499999       500000             0               0.159766

[500000 rows x 3 columns]

In [ ]:
joblib.dump(clf, 'filename.pkl')